{% extends 'home/index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">


{% block content %}
<div class="col-12 col-lg-8">
    <div class="post-content-area mb-50">
        <!-- Catagory Area -->
        <div class="world-catagory-area">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="title">Questions</li>

                <li class="nav-item">
                    <a class="nav-link active" id="tab1" data-toggle="tab" href="#world-tab-1" role="tab" aria-controls="world-tab-1" aria-selected="true">All</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab2" data-toggle="tab" href="#world-tab-2" role="tab" aria-controls="world-tab-2" aria-selected="false">Banking</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab3" data-toggle="tab" href="#world-tab-3" role="tab" aria-controls="world-tab-3" aria-selected="false">Consulting</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab4" data-toggle="tab" href="#world-tab-4" role="tab" aria-controls="world-tab-4" aria-selected="false">Technology</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab5" data-toggle="tab" href="#world-tab-5" role="tab" aria-controls="world-tab-5" aria-selected="false">Law</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab6" data-toggle="tab" href="#world-tab-6" role="tab" aria-controls="world-tab-6" aria-selected="false">Healthcare</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                    <div class="dropdown-menu">
                        <a class="nav-link" id="tab7" data-toggle="tab" href="#world-tab-7" role="tab" aria-controls="world-tab-7" aria-selected="false">Government</a>
                        <a class="nav-link" id="tab8" data-toggle="tab" href="#world-tab-8" role="tab" aria-controls="world-tab-8" aria-selected="false">Other</a>
                    </div>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">

                    {% for question in questions_all %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if question.author.profile.pic.url != "" %}
                            <img src="{{question.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'question_detail' pk=question.pk slug=question.slug %}">{{ question.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{question.difficulty}}</p>
                                <p>{{question.industry}} | {{question.company}} | {{question.role}} | {{question.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=question.author.pk username=question.author.username %}" class="post-author">{{ question.author }}</a> on {{ question.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-2" role="tabpanel" aria-labelledby="tab2">
                    {% for question in banking_questions %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if question.author.profile.pic.url != "" %}
                            <img src="{{question.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'question_detail' pk=question.pk slug=question.slug %}">{{ question.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{question.difficulty}}</p>
                                <p>{{question.industry}} | {{question.company}} | {{question.role}} | {{question.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=question.author.pk username=question.author.username %}" class="post-author">{{ question.author }}</a> on {{ question.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-3" role="tabpanel" aria-labelledby="tab3">
                    {% for question in consulting_questions %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if question.author.profile.pic.url != "" %}
                            <img src="{{question.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'question_detail' pk=question.pk slug=question.slug %}">{{ question.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{question.difficulty}}</p>
                                <p>{{question.industry}} | {{question.company}} | {{question.role}} | {{question.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=question.author.pk username=question.author.username %}" class="post-author">{{ question.author }}</a> on {{ question.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-4" role="tabpanel" aria-labelledby="tab4">
                    {% for question in technology_questions %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if question.author.profile.pic.url != "" %}
                            <img src="{{question.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'question_detail' pk=question.pk slug=question.slug %}">{{ question.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{question.difficulty}}</p>
                                <p>{{question.industry}} | {{question.company}} | {{question.role}} | {{question.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=question.author.pk username=question.author.username %}" class="post-author">{{ question.author }}</a> on {{ question.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-5" role="tabpanel" aria-labelledby="tab5">
                    {% for question in law_questions %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if question.author.profile.pic.url != "" %}
                            <img src="{{question.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'question_detail' pk=question.pk slug=question.slug %}">{{ question.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{question.difficulty}}</p>
                                <p>{{question.industry}} | {{question.company}} | {{question.role}} | {{question.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=question.author.pk username=question.author.username %}" class="post-author">{{ question.author }}</a> on {{ question.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-6" role="tabpanel" aria-labelledby="tab6">
                    {% for question in healthcare_questions %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if question.author.profile.pic.url != "" %}
                            <img src="{{question.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'question_detail' pk=question.pk slug=question.slug %}">{{ question.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{question.difficulty}}</p>
                                <p>{{question.industry}} | {{question.company}} | {{question.role}} | {{question.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=question.author.pk username=question.author.username %}" class="post-author">{{ question.author }}</a> on {{ question.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-7" role="tabpanel" aria-labelledby="tab7">
                    {% for question in government_questions %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if question.author.profile.pic.url != "" %}
                            <img src="{{question.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'question_detail' pk=question.pk slug=question.slug %}">{{ question.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{question.difficulty}}</p>
                                <p>{{question.industry}} | {{question.company}} | {{question.role}} | {{question.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=question.author.pk username=question.author.username %}" class="post-author">{{ question.author }}</a> on {{ question.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-8" role="tabpanel" aria-labelledby="tab8">
                    {% for question in other_questions %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if question.author.profile.pic.url != "" %}
                            <img src="{{question.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'question_detail' pk=question.pk slug=question.slug %}">{{ question.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{question.difficulty}}</p>
                                <p>{{question.industry}} | {{question.company}} | {{question.role}} | {{question.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=question.author.pk username=question.author.username %}" class="post-author">{{ question.author }}</a> on {{ question.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


</html>