{% extends 'home/index.html' %}
{% load static %}



<!DOCTYPE html>
<html lang="en">


{% block content %}
<div class="col-12 col-lg-8">
    <div class="post-content-area mb-50">
        <!-- Catagory Area -->
        <div class="world-catagory-area">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="title">Posts</li>

                <li class="nav-item">
                    <a class="nav-link active" id="tab1" data-toggle="tab" href="#world-tab-1" role="tab" aria-controls="world-tab-1" aria-selected="true">All</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab2" data-toggle="tab" href="#world-tab-2" role="tab" aria-controls="world-tab-2" aria-selected="false">Banking</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab3" data-toggle="tab" href="#world-tab-3" role="tab" aria-controls="world-tab-3" aria-selected="false">Consulting</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab4" data-toggle="tab" href="#world-tab-4" role="tab" aria-controls="world-tab-4" aria-selected="false">Technology</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab5" data-toggle="tab" href="#world-tab-5" role="tab" aria-controls="world-tab-5" aria-selected="false">Law</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab6" data-toggle="tab" href="#world-tab-6" role="tab" aria-controls="world-tab-6" aria-selected="false">Healthcare</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                    <div class="dropdown-menu">
                        <a class="nav-link" id="tab7" data-toggle="tab" href="#world-tab-7" role="tab" aria-controls="world-tab-7" aria-selected="false">Government</a>
                        <a class="nav-link" id="tab8" data-toggle="tab" href="#world-tab-8" role="tab" aria-controls="world-tab-8" aria-selected="false">Other</a>
                    </div>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">

                    {% for post in posts_all %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if post.author.profile.pic.url != "" %}
                            <img src="{{post.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{post.industry}} | {{post.company}} | {{post.role}} | {{post.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=post.author.pk username=post.author.username %}" class="post-author">{{ post.author }}</a> on {{ post.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-2" role="tabpanel" aria-labelledby="tab2">
                    {% for post in banking_posts %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if post.author.profile.pic.url != "" %}
                            <img src="{{post.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{post.industry}} | {{post.company}} | {{post.role}} | {{post.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=post.author.pk username=post.author.username %}" class="post-author">{{ post.author }}</a> on {{ post.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-3" role="tabpanel" aria-labelledby="tab3">
                    {% for post in consulting_posts %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if post.author.profile.pic.url != "" %}
                            <img src="{{post.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{post.industry}} | {{post.company}} | {{post.role}} | {{post.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=post.author.pk username=post.author.username %}" class="post-author">{{ post.author }}</a> on {{ post.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-4" role="tabpanel" aria-labelledby="tab4">
                    {% for post in technology_posts %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if post.author.profile.pic.url != "" %}
                            <img src="{{post.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{post.industry}} | {{post.company}} | {{post.role}} | {{post.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=post.author.pk username=post.author.username %}" class="post-author">{{ post.author }}</a> on {{ post.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-5" role="tabpanel" aria-labelledby="tab5">
                    {% for post in law_posts %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if post.author.profile.pic.url != "" %}
                            <img src="{{post.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{post.industry}} | {{post.company}} | {{post.role}} | {{post.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=post.author.pk username=post.author.username %}" class="post-author">{{ post.author }}</a> on {{ post.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-6" role="tabpanel" aria-labelledby="tab6">
                    {% for post in healthcare_posts %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if post.author.profile.pic.url != "" %}
                            <img src="{{post.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{post.industry}} | {{post.company}} | {{post.role}} | {{post.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=post.author.pk username=post.author.username %}" class="post-author">{{ post.author }}</a> on {{ post.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-7" role="tabpanel" aria-labelledby="tab7">
                    {% for post in government_posts %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if post.author.profile.pic.url != "" %}
                            <img src="{{post.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{post.industry}} | {{post.company}} | {{post.role}} | {{post.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=post.author.pk username=post.author.username %}" class="post-author">{{ post.author }}</a> on {{ post.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="world-tab-8" role="tabpanel" aria-labelledby="tab8">
                    {% for post in other_posts %}
                    <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <!-- <img src="/static/img/blog-img/b10.jpg" alt=""> -->
                            {% if post.author.profile.pic.url != "" %}
                            <img src="{{post.author.profile.pic.url}}" alt="">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="">

                            {% endif %}
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h5><a href="{% url 'post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h5>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>{{post.industry}} | {{post.company}} | {{post.role}} | {{post.likes.count}} Likes</p>
                                <p><a href="{% url 'view_profile' pk=post.author.pk username=post.author.username %}" class="post-author">{{ post.author }}</a> on {{ post.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


</html>