{% extends 'home/index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">


{% block content %}


            <!-- ============= Post Content Area ============= -->
            <div class="col-12 col-lg-8">
                <div class="single-blog-content mb-100" style="word-wrap:break-word;">
                    <!-- Post Meta -->
                    <!-- Post Content -->
                    <p>{{post.industry}} | {{post.company}} | {{post.role}} </p>
                    <div class="post-content">

                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail" style="height:50px;">
                            {% if post.author.profile.pic.url != "" %}
                            <img src="{{post.author.profile.pic.url}}" alt="" style="height:40px;">

                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="" style="height:40px;">

                            {% endif %}
                            <p style="display: inline;"><a href="{% url 'view_profile' pk=post.author.pk username=post.author.username %}" class="post-author">{{post.author}}</a></p>
                        </div>

                        <h5>{{post.title}}</h5>
                        <p>{{post.text}}</p>
                        <!-- Post Meta -->
                        <div class="post-meta second-part" style="height:50px;">
                            <br />
                            {% if user.is_authenticated and user == post.author %}
                            <a href="{% url 'post_edit' pk=post.pk slug=post.slug %}" class="comment-reply btn world-btn">Edit</a>
                            <a href="{% url 'post_remove' pk=post.pk slug=post.slug %}" class="comment-reply btn world-btn">Delete</a>
                            {% endif %}
                            <a href="{% url 'like_post' pk=post.pk slug=post.slug %}" class="comment-reply btn world-btn">Like ({{post.likes.count}})</a>
                            <a href="{% url 'add_comment_to_post' pk=post.pk slug=post.slug %}" class="comment-reply btn world-btn">Reply</a>
                            <p>{{post.created_date}}</p>
                        </div>
                    </div>
                    {% for comment in post.comments.all %}
                    {% if user.is_authenticated or comment.approved_comment %}

                    <br />
                    <div class="post-content">

                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail" style="height:50px;">
                            {% if comment.author.profile.pic.url != "" %}
                            <img src="{{comment.author.profile.pic.url}}" alt="" style="height:40px;">


                            {% else %}

                            <img src="/static/img/blog-img/b10.jpg" alt="" style="height:40px;">

                            {% endif %}
                            <p style="display: inline;"><a href="{% url 'view_profile' pk=comment.author.pk username=comment.author.username %}" class="post-author">  {{comment.author}}</a></p>
                        </div>
                        <p>{{comment.text}}</p>
                        <!-- Post Meta -->
                        <div class="post-meta second-part" style="height:50px;">
                            <br />
                            {% if user.is_authenticated and user == comment.author %}
                            <a href="{% url 'comment_remove' pk=comment.pk slug=post.slug %}" class="comment-reply btn world-btn">Delete</a>
                            {% endif %}
                            <a href="{% url 'like_comment' pk=comment.pk %}" class="comment-reply btn world-btn">Like ({{comment.likes.count}})</a>
                            <a href="{% url 'add_comment_to_post' pk=post.pk slug=post.slug %}" class="comment-reply btn world-btn">Reply</a>
                            <p>{{post.created_date}}</p>
                        </div>
                    </div>

                    {% endif %}
                    {% empty %}
                    {% endfor %}

                </div>
                    </div>




                    <!-- ============== Related Post ============== -->

                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <!-- Comment Area Start -->


                        </div>
                    </div>

                    {% endblock %}
</html>